<md-button class="md-icon-button" ng-click="adminStream.login()" ng-disabled="adminStream.success" ng-if="!adminStream.src" aria-label="Login">
  <md-icon md-svg-src="img/ic_account_circle_24px.svg"></md-icon>
  <md-tooltip ng-if='!adminStream.success'>Войти</md-tooltip>
</md-button>
<img ng-src="{{adminStream.src}}" class="login-img" ng-if="adminStream.src">