<section layout="row" class="post-content-tags">
  <div>Теги:</div>
  <md-chips ng-model="post.tags" md-autocomplete-snap>
    <md-autocomplete
      md-selected-item="post.selectedTag"
      md-search-text="post.searchText"
      md-items="item in post.querySearch(post.searchText)"
      md-item-text="item"
      placeholder="добавить тег">
      <span md-highlight-text="post.searchText">{{::item}}</span>
    </md-autocomplete>
  </md-chips>
</section>