<md-button class="md-icon-button" ng-click="adminPost.saver()" ng-disabled="!adminStream.src">
  <md-icon md-svg-src="img/ic_done_24px.svg" aria-label="Save post"></md-icon>
  <md-tooltip ng-if="adminStream.src">Сохранить изменения</md-tooltip>
</md-button>
<md-button class="md-icon-button" ng-click="adminPost.editor()" ng-disabled="!adminStream.success">
  <md-icon md-svg-src="img/ic_code_24px.svg" aria-label="Edit post"></md-icon>
  <md-tooltip ng-if="adminStream.success">Редактировать HTML-код поста</md-tooltip>
</md-button>