a {text-decoration: none;}
ui-view {overflow: hidden;}
.login-img {display: block; width: 48px; border-radius: 24px;}
md-grid-list {margin: .8rem 12%; padding-bottom: 0 !important;}
md-grid-tile:hover {box-shadow: 0 0 3px 0px rgba(0, 0, 0, .3);}
md-grid-tile:hover stream-post-content {background-color: rgba(255,255,255,0.5);}
md-grid-tile figure {overflow: hidden; background-size: cover; background-position: center top; background-repeat: no-repeat;}
stream-post-content {width: 100%; height: 100%; position: absolute; top: 0; left: 0; box-sizing: border-box; padding: 5%;}
stream-post-content.image {background-color: rgba(255,255,255,0.3);}
stream-post-content.video {background-image: url("../img/ic_play_circle_filled_48px.svg"); background-repeat: no-repeat; background-size: 20% 20%; background-position: center center;}
stream-post-content img {display: none;}
md-dialog {max-height: 90% !important;}
md-dialog-content a:hover {text-decoration: underline;}
post-content iframe {min-width: 426px; width: 75vw; min-height: 240px; height: 42vw;}
post-content img {max-width: 100%;}
#postCodeEditor {width: 100%; resize: none;}
#postCommentsFrame{width:100%}
.md-error-theme>.md-toast-content {background: #FF5722 !important;}

.tile-cover {position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; cursor:pointer;}
.tile-footer-dot, .post-toolbar-dot {margin: 0 8px;}

.post-content-tags {padding-top: 1rem;}
.post-content-tags>div {line-height: 48px;}
.post-content-tags-chip {color: #607D8B;}

.red {background: #ff8a80;}
.pink {background: #ff80ab;}
.purple {background: #ea80fc;}
.deep-purple {background: #b388ff;}
.indigo {background: #8c9eff;}
.blue {background: #82b1ff;}
.light-blue {background: #80d8ff;}
.cyan {background: #84ffff;}
.teal {background: #a7ffeb;}
.green {background: #b9f6ca;}
.light-green {background: #ccff90;}
.lime {background: #f4ff81;}
.yellow {background: #ffff8d;}
.amber {background: #ffe57f;}
.orange {background: #ffd180;}
.deep-orange {background: #ff9e80;}
.sidenav {width: 21rem;}
.tags {padding-left: 16px;}
.tags a {color: #607D8B;}
