<md-dialog class='{{::post.tile[0].color}} md-dialog-fullscreen' aria-label='post' ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>{{::post.tile[0].id | date:'dd.MM.yyyy'}}</span>
        <span class="post-toolbar-dot">&middot;</span>
        источник: <a href="{{::post.tile[0].src}}">{{::post.tile[0].src.split("/")[2]}}</a>
      </h2>
      <span flex></span>
      <admin-post-buttons layout="row"></admin-post-buttons>
      <md-button class="md-icon-button" ng-click="post.close()">
        <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        <md-tooltip>Закрыть пост</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <post-content></post-content>
      <admin-post-content></admin-post-content>
      <post-tags></post-tags>
    </div>
    <iframe src="{{::post.comments}}" id="postCommentsFrame" frameBorder="0" scrolling="no" allowtransparency></iframe>
  </md-dialog-content>
</md-dialog>