<section layout="row" class="post-content-tags" ng-if="::post.tags.length">
  <div>Теги:</div>
  <md-chips ng-model="post.tags" readonly="true">
    <md-chip-template>
      <a ui-sref="stream({tagId: $chip})" class="post-content-tags-chip">{{::$chip}}</a>
    </md-chip-template>
  </md-chips>
</section>