<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="stream.toggleTags()" aria-label="Toggle Tags">
      <md-icon md-svg-src="img/ic_cloud_queue_24px.svg"></md-icon>
      <md-tooltip>Облако тегов</md-tooltip>
    </md-button>
    <h3>
      <a href="/">PostStream</a>
      <span ng-show="stream.stateTag">
        <md-icon md-svg-src="img/ic_chevron_right_24px.svg"></md-icon>
        {{::stream.stateTag}}
      </span>
    </h3>
    <span flex></span>
    <admin-login-button></admin-login-button>
  </div>
</md-toolbar>
<md-content flex
  stream-scroll="stream.getPage()"
  stream-scroll-disabled="{{stream.busy}}"
  stream-post-click-delegate="tile-cover | stream.getPost(tile.id)">
  <md-grid-list
    md-cols="2" md-cols-xs="1" md-cols-gt-lg="4" md-row-height="1:1" md-gutter=".8rem">
    <md-grid-tile ng-repeat="tile in stream.tiles" id="{{tile.id}}" class="{{tile.color}}">
      <stream-post-content inner="{{tile.html | decodeURIComponent}}"></stream-post-content>
      <a href='/post/{{tile.id}}' class="tile-cover"></a>
      <md-grid-tile-footer>
        <h3>
          <span>{{tile.id | date:'dd.MM.yyyy'}}</span>
          <span class="tile-footer-dot">&middot;</span>
          <a href="{{tile.src}}">{{tile.src.split("/")[2]}}</a>
        </h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</md-content>
<ui-view></ui-view>
<md-progress-linear md-mode="query" ng-show="stream.busy"></md-progress-linear>