<div class="md-toolbar-tools">
  <span flex>ошибка: {{info.text}}</span>
  <md-button class="md-icon-button" ng-click="info.text=''">
    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close error"></md-icon>
    <md-tooltip>Закрыть</md-tooltip>
  </md-button>
</div>